<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>十字消方块</title>
		<link href="./css/app.css" rel="styleSheet" type="text/css"/>
		<link href="./css/board-card.css" rel="styleSheet" type="text/css"/>
		<link href="./css/right-aside.css" rel="styleSheet" type="text/css"/>
		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div id="container">
				<div id="board-card">
					<div id="board">
						<div class="row"
							 v-for="(row, i_row) in status.board" >
							<div class="square" 
								 v-for="(thisSquare, i_col) in row" 
								 v-on:click="clickSquare(i_row, i_col)"
								 :style="{backgroundColor:settings.color.colorValue[thisSquare.color]}">
							</div>
						</div>
					</div>
				</div>
				<div id="aside">
					<div id="control-card">
						<div id="revoke-button" v-on:click="revoke">撤销</div>
						<div id="new-game-button" v-on:click="newGame">新开一局</div>
						<div id="start-again-button" v-on:click="replay">重玩本局</div>
						<div id="edit-settings-button" v-on:click="editSettings">{{settings.isEditting?"保存编辑":"编辑设定"}}</div>
					</div>
					<div id="settings-card">
						<div class="settings-item">
							<div>宽边方块数量</div>
							<div v-if="!settings.isEditting">{{settings.boardWidthN}}</div>
							<input v-else type="number" v-model="settings.boardWidthN">
						</div>
						<div class="settings-item">
							<div>高边方块数量</div>
							<div v-if="!settings.isEditting">{{settings.boardHeightN}}</div>
							<input v-else type="number" v-model="settings.boardHeightN">
						</div>
						<div class="settings-item">
							<div>生产彩色方块的数量</div>
							<div v-if="!settings.isEditting">{{settings.produceSquareNum}}</div>
							<input v-else type="number" v-model="settings.produceSquareNum">
						</div>
					</div>
					<div id="status-card">
						<div class="status-item">
							<div>消除次数</div>
							<div>{{status.eliminateTimes}}</div>
						</div>
						<div class="status-item">
							<div>消除方块数</div>
							<div>{{status.eliminateCount}}</div>
						</div>
						<div class="status-item">
							<div>剩余方块数</div>
							<div>{{status.leftSquare.count}}</div>
						</div>
						<div class="status-item"
							 v-for="(item,index) in settings.color.colorValue">
							<div class="status-color-square" :style="{backgroundColor: settings.color.colorValue[index]}"></div>
							<div>{{status.leftSquare.eachColorCount[index]}}</div>
						</div>
					</div>
				</div>
			</div>
			<div id="greet" v-if="isGreet">
				<div id="title">十 字 消 方 块</div>
				<div id="start-game" v-on:click="startGame">开始游戏</div>
			</div>
			<div id="win" v-if="status.isWin">
				<div id="win-text">你 成 功 了 !</div>
				<div id="play-again" v-on:click="playAgain">再来一局</div>
			</div>
		</div>
	</body>
	<script src="js/app.js"></script>
</html>

